@{
    Layout = null;
    var republicas_relacionadas = (List<RepublicaModel>)Session["republicas_relacionadas"];
    var republica_single = republicas_relacionadas.GroupBy(a => a.id_rep);
    var session_user = (UsuarioModel)Session["user"];
}
@using WeRep.Models
@model UsuarioViewModel

@{
    var attributes = new Dictionary<string, object>();
    attributes.Add("target", "#content_republica");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Seja bem-vindo, @Model.nome</p>
    <div>
        @Html.ActionLink("Ver perfil", "VerPerfil")
        <br />
        @if (republicas_relacionadas.Count > 0)
        {
            foreach (var rep in republica_single.ToList())
            {<span>@Html.ActionLink("Ver república", "Index", "Republica", new { id = rep.First().id_rep }, null )</span>
            <span> - @rep.First().nome - </span>
                if (session_user.id_user == rep.First().id_adm)
                {<span> (administrador)</span> }<br />}
        }
        <br />
        @Html.ActionLink("Criar república", "CriarRepublica", "Republica")
    </div>

    <div id="content_republica">
    </div>
</body>
</html>