@using WeRep.Models
@model RepublicaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @if (Model != null)
        {
            <span>Estado: </span>@Model.estado<br />
            <span>Cidade: </span>@Model.cidade<br />
            <span>Bairro: </span>@Model.bairro<br />
            <span>Rua: </span>@Model.rua<br />
            <span>Número: </span>@Model.numero<br />
            <span>Complemento: </span>@Model.complemento<br />
            <br />
            <span>Nome da república: </span>@Model.nome<br />
            <span>Adm da república: </span>@Model.adm<br />
            <span>Capacidade da república: </span>@Model.capacidade<br />
            <span>Moradores: </span>
            foreach(string morador in Model.moradores)
            { @morador <br /> }
        }
    </div>
</body>
</html>
