@using WeRep.Models
@model RepublicaViewModel
@{
    var session_rep = (RepublicaModel)Session["republica"];
    var session_user = (UsuarioModel)Session["user"];
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @if (Model != null)
        {
            <span>Estado: </span>@Model.estado<br />
            <span>Cidade: </span>@Model.cidade<br />
            <span>Bairro: </span>@Model.bairro<br />
            <span>Rua: </span>@Model.rua<br />
            <span>Número: </span>@Model.numero<br />
            <span>Complemento: </span>@Model.complemento<br />
            <br />
            <span>Nome da república: </span>@Model.nome<br />
            <span>Adm da república: </span>@Model.adm<br />
            <span>Capacidade da república: </span>@Model.capacidade<br />
            <span>Moradores: </span>
            foreach(string morador in Model.moradores)
            { @morador <br /> }
        }
    </div>
    <br />
    <div>
        @if(session_rep.id_adm == session_user.id_user)
        {
            @Html.ActionLink("Inserir morador", "InserirMorador", "Republica")
            <br />
            @Html.ActionLink("Inserir nota no Kanban", "InserirKanban", "Kanban")
        }
    </div>

    <div>
    </div>
</body>
</html>
